@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    @* <p>Не забыть убрать комментарий с claims для текущего юзера!!!</p> *@
    
</div>

@foreach(var claim in User.Claims.ToList())
{
    <p>@claim.Type : @claim.Value</p>
}